<footer class="footer">
    <p class="footer__text">Footer content goes here</p>
    <p class="footer__text">Contact details</p>
    <div class="footer__socials">
        <i class="icofont icofont-instagram"></i>
        <i class="icofont icofont-facebook"></i>
        <i class="icofont icofont-envelope"></i>
    </div>
</footer>

</html>