<section class="hero">
  <div class="hero__title-section">
    <h2 class="hero__page-title"><%=pageTitle%></h2>
  </div>

  <div class="hero__filter-color"></div>
  <img class="hero__image" src="/img/construction-hero3.jpg" alt="hero-image" />
</section>
