<link rel="stylesheet" href="/css/navStyle.css" />

<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="/" class="navigation__link">Home</a>
      </li>
      <li class="navigation__item">
        <a href="/trainning" class="navigation__link">Trainning</a>
      </li>
      <li class="navigation__item">
        <a href="/about" class="navigation__link">About</a>
      </li>
      <li class="navigation__item">
        <a href="/contact" class="navigation__link">Contact</a>
      </li>
    </ul>
  </nav>
</div>

<div class="hero-container">
  <div class="title">
    <h1 class="main-title"><%=pageTitle%></h1>
    <i class="<%=pageIcon%>"></i>
  </div>

  <div class="filter-color"></div>
  <img class="hero-image" src="/img/construction-hero2.jpg" alt="hero-image" />
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <i class="icofont-vehicle-excavator"></i>
    <a class="navbar-brand" href="/">Andy Bennett</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/trainning">Trainning</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
