<div class="hero-container">
    <div class="title">
      <img class="logo" src="/img/abTraining-logo.png" alt="">
      <h1 class="main-title"><%=pageTitle%></h1>
    </div>
  
    <div class="filter-color"></div>
    <img class="hero-image" src="/img/construction-hero3.jpg" alt="hero-image" />
  </div>