* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #222831;
    background-color: #eee;
}

@import "base/utilities";

@import "components/buttons";
@import "components/footer";
@import "components/nav";
@import "components/hero";
@import "components/photo-collage";

@import "pages/home";
@import "pages/training";
@import "pages/about";
@import "pages/contact";

