<%- include("partials/header") -%> <%- include("partials/nav") -%>
<link rel="stylesheet" href="/css/homeStyle.css" />

<section class="feature__section">
  <h2 class="feature__title">Courses</h2>
  <p class="feature__subtitle">On-site training courses provided</p>
  <div class="features">
    <div class="feature__item">
      <i class="icon icofont-calculations"></i>
      <h3 class="feature__heading">Course 1</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        dolores id omnis officiis reiciendis et exercitationem, obcaecati
        assumenda modi voluptates deleniti iusto repellat!
      </p>
      <a class="btn feature__btn" href="#">More information</a>
    </div>
    <div class="feature__item">
      <i class="icon icofont-calculations"></i>
      <h3 class="feature__heading">Course 2</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        dolores id omnis officiis reiciendis et exercitationem, obcaecati
        assumenda modi voluptates deleniti iusto repellat!
      </p>
      <a class="btn feature__btn" href="#">More information</a>
    </div>
    <div class="feature__item">
      <i class="icon icofont-calculations"></i>
      <h3 class="feature__heading">Course 3</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        dolores id omnis officiis reiciendis et exercitationem, obcaecati
        assumenda modi voluptates deleniti iusto repellat!
      </p>
      <a class="btn feature__btn" href="#">More information</a>
    </div>
  </div>
</section>

<section class="contact">
  <!-- <h2 class="contact__title">Say hi, I'm lonely...</h2> -->
  <a class="btn contact__btn" href="/contact">Get in touch<i class="icofont-long-arrow-right"></i></a>
</section>

<%- include("partials/scripts") -%> <%- include("partials/footer") -%>
