<%- include("partials/header") -%> <%- include("partials/nav") -%>
<!-- HERO -->
<section class="hero">
  <div class="hero__title-section">
    <h1 class="hero__title-home">AB</h1>
    <h2 class="hero__page-title">Plant Operator and Construction Training</h2>
    <a class="btn btn-main" href="/contact"
      ><span>Get in touch</span><i class="icofont-vehicle-excavator"></i
    ></a>
  </div>

  <div class="hero__filter-color"></div>
  <img class="hero__image" src="/img/construction-hero3.jpg" alt="hero-image" />
</section>

<!-- FEATURE COURSES -->
<section class="features">
  <h2 class="features__title">On-site Training Courses</h2>
  <p class="features__subtitle">
    I can deliver expert, on-site training in the following areas.
  </p>
  <div class="features__container">
    <div class="features__item">
      <img
        class="features__logo features__logo-npors"
        src="/img/npors-logo.png"
        alt="npors-logo"
      />
      <h3 class="features__heading">NPORS Scheme</h3>
      <p class="features__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        dolores id omnis officiis reiciendis et exercitationem, obcaecati
        assumenda modi voluptates deleniti iusto repellat!
      </p>
      <a class="btn btn-feature" href="/training"
        ><span>More information</span><i class="icofont-circled-right"></i
      ></a>
    </div>
    <div class="features__item">
      <img
        class="features__logo features__logo-cpcs"
        src="/img/cpcs-logo.png"
        alt="cpcs-logo"
      />
      <h3 class="features__heading">CPCS Scheme</h3>
      <p class="features__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        dolores id omnis officiis reiciendis et exercitationem, obcaecati
        assumenda modi voluptates deleniti iusto repellat!
      </p>
      <a class="btn btn-feature" href="/training"
        ><span>More information</span><i class="icofont-circled-right"></i
      ></a>
    </div>
  </div>
</section>

<!-- IMAGES SECTION -->
<section class="photo__section">
  <h2 class="features__title">Rogue Operators</h2>
  
  <div class="photo__container">
    <img src="/img/ab_construction_1.jpg" alt="" class="photo__item">
    <img src="/img/ab_construction_2.jpg" alt="" class="photo__item">
    <img src="/img/ab_construction_3.jpg" alt="" class="photo__item">
    <img src="/img/ab_construction_4.jpg" alt="" class="photo__item">
    <img src="/img/ab_construction_5.jpg" alt="" class="photo__item">
    <img src="/img/ab_construction_6.jpg" alt="" class="photo__item">
  </div>
</section>

<%- include("partials/scripts") -%> <%- include("partials/footer") -%>
