* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  color: #222831;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.2rem 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.btn-main {
  width: 20rem;
  font-size: 2rem;
  font-weight: 600;
  color: #3b6978;
  background-color: #eee;
}
.btn-main .icofont-touch {
  font-size: 2.8rem;
}

.btn-feature {
  background-color: #3b6978;
  color: #fff;
  font-size: 1.6rem;
}
.btn-feature .icofont-long-arrow-right {
  font-size: 2rem;
}

.footer {
  padding: 3rem;
  height: 30vh;
  background-color: #3b6978;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.footer__text {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socials .icofont {
  font-size: 3rem;
}
.footer__socials .icofont:not(:last-child) {
  margin-right: 1rem;
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer__text {
    margin: 0;
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: #3b6978;
  z-index: 1000;
  transition: transform 0.8s ease-in-out;
}
.navigation__nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navigation__list {
  transform: translateY(-5rem);
  list-style: none;
  text-align: center;
}
.navigation__item {
  padding: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.5s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #000;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100vw;
}
.navigation__icon {
  position: relative;
  margin-top: 3.4rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  border-radius: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@media (max-width: 600px) {
  .navigation__button {
    transform: scale(0.7);
    top: 3rem;
    right: 3rem;
  }
  .navigation__background {
    transform: scale(0.7);
    top: 3.3rem;
    right: 3.3rem;
  }
}
@media (max-width: 400px) {
  .navigation__button {
    top: 2rem;
    right: 2rem;
  }
  .navigation__background {
    top: 2.3rem;
    right: 2.3rem;
  }
}
.hero {
  height: 70vh;
  overflow: hidden;
  position: relative;
}
.hero__title-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.hero__title-home {
  font-size: 6rem;
  letter-spacing: -5px;
}
.hero__page-title {
  z-index: 1;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.hero__filter-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero__image {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}
.hero__logo {
  width: 17rem;
  margin-bottom: 4rem;
}

@media (min-width: 900px) {
  .hero__logo {
    width: 22rem;
  }
  .hero__title-home {
    font-size: 8rem;
  }
  .hero__page-title {
    font-size: 4rem;
  }
}
.features {
  padding: 2rem 0;
  text-align: center;
}
.features__title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.features__subtitle {
  font-size: 1.4rem;
  font-weight: 300;
}
.features__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.features__item {
  height: 40rem;
  padding: 2rem;
  width: 90vw;
  background-color: #eee;
  margin: 2rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
.features__logo-npors {
  width: 18rem;
  margin: 1rem;
}
.features__logo-cpcs {
  width: 25rem;
  margin: 1rem;
}
.features__heading {
  font-size: 2.5rem;
}
.features__text {
  font-size: 1.4rem;
}

@media (min-width: 600px) {
  .features__item {
    width: 30rem;
    margin: 2rem;
  }
}
@media (min-width: 900px) {
  .features__item {
    width: 40rem;
    margin: 2rem;
  }
}
.about {
  padding: 3rem;
  text-align: center;
}
.about__img {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: bottom;
}
.about__title {
  font-size: 3rem;
}
.about__text {
  font-size: 1.6rem;
  max-width: 60vw;
  margin: 0 auto;
}

.contact-card {
  background-color: #eee;
  padding: 3rem;
  margin: 3rem auto;
  width: 50vw;
}

/*# sourceMappingURL=style.css.map */
