.photo {
  &__section {
    padding: 2rem;
    text-align: center;
  }

  &__container {
    margin: 2rem auto;
    padding: 2rem 0;
    width: 80%;

    //   display: grid;
    //   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    //   justify-items: center;
    column-count: 1;
    column-gap: 0.3rem;
  }

  &__item {
    width: 100%;
  }
}

@media (min-width: 700px) {
    .photo__container {
      column-count: 2;
    }
  }

@media (min-width: 1000px) {
  .photo__container {
    column-count: 3;
  }
}
