.hero-container {
    height: 70vh;
    overflow: hidden;
    position: relative;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.main-title {
    color: white;
    z-index: 1;
    font-size: 4rem;
    text-align: center;
}
.icofont-vehicle-crane,
.icofont-vehicle-excavator,
.icofont-engineer,
.icofont-phone {
  font-size: 6rem;
  color: #fff;
  z-index: 1;
}
.filter-color{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.hero-image {
    height: 100%;
    width: 100vw;
    object-fit: cover;
}
.logo {
  width: 17rem;
}

@media(min-width: 900px) {
  .logo {
    width: 22rem;
  }
}